@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Lexend', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#front {
    background-image: url(../img/Front-Back.png);
    background-size: cover;
    background-position: top left;
    position: relative;
    z-index: 1;
}
#front::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}
#front h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: goldenrod;
}